[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
notebook = "*"
ipykernel = "*"
streamlit = "*"
requests = "*"
scikit-learn = "*"
plotly = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
