[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
notebook = "*"
ipykernel = "*"
fastapi = "*"
uvicorn = "*"
llama-index-embeddings-cohere = "*"
llama-index-llms-ollama = "*"
llama-index-readers-file = "*"
llama-index-llms-huggingface = "*"
llama-index = "*"
llama-index-embeddings-huggingface = "*"
chromadb = "*"
transformers = "*"
sentence-transformers = "*"
llama-index-vector-stores-chroma = "*"
llama-index-llms-deepinfra = "*"
python-multipart = "*"
llama-index-llms-groq = "*"


[dev-packages]

[requires]
python_version = "3.10"
